.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.productList {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  justify-content: space-evenly;
  list-style: none;
  margin: 10px;
  width: 400px;
}

.productList img {
  width: 200px;
}
