.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.productList {
  border: 1px solid black;
  width: 400px;
  height: 300px;
  margin: 10px;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.productList img {
  width: 200px;
}